node_modules/

.idea
*.iml
.vscode/
.npm

.DS_Store

logs
*.log*
reports/
target/
dist/
node_modules
build
coverage
test-results
test-results
playwright-report
blob-report
playwright/.cache

# aws cdk
cdk.out
